# Set up the client project

### Task 1

In [4]:
import mysql.connector as connector
from mysql.connector import Error

In [5]:
try:
    connection = connector.connect(user = "lemon_admin", password = "lemon_admin")
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [6]:
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

# Add query functions

In [7]:
cursor.execute("USE LittleLemonDB")
connection.database
print("The database LittleLemonDB is set for use.")

The database LittleLemonDB is set for use.

In [8]:
show_tables_query = "SHOW TABLES;" 

cursor.execute(show_tables_query)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('address',)
('bookings',)
('customers',)
('delivery_status',)
('menu',)
('orders',)
('ordersmenu',)
('ordersview',)
('staff',)

In [15]:
join_query = """ SELECT Customers.Name,
Customers.PhoneNumber,
Customers.Email,
Orders.TotalCost
FROM Customers
LEFT JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

In [16]:
cursor.execute(join_query)

In [17]:
results = cursor.fetchall()

In [18]:
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Name', 'PhoneNumber', 'Email', 'TotalCost')
('Jane Smith', '9876543210', 'jane.smith@email.com', Decimal('75.00'))
('Emily Davis', '1112223333', 'emily.davis@email.com', Decimal('100.00'))

In [19]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.